
/* WHAT IS */

#whatis
{
    max-width: 1500px;
    padding: 2em 10em 0 10em;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
}

#whatis .left
{
    max-width: 60%;
    display: inline-block;
}

#whatis .right
{
    display: flex;
    justify-content: center;
    align-items: center;
}

#whatis a
{
    display: inline-block;
    margin: 1em;
    padding: 0.5em 1em 0.5em 1em;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    border: 1px solid rgba(239, 67, 57, 0.5);
    box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease;
}

#whatis a:hover
{
    background: rgba(255, 255, 255, 0.2);
}

#whatis img
{
    width: 200px;
}

/* THE GAME */

section
{
    position: relative;
    max-width: 1100px;
    margin: 3em auto;
}

.section-separator
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    margin-bottom: 3em;
    background: url("../img/section-separator2.png") no-repeat center center;
}

.section-separator h3
{
    font-size: 1.5em;
}

section p
{
    max-width: 1000px;
    margin: 1em auto;
    text-align: justify;
    text-indent: 10px;
}

section h4
{
    margin: 2em 0;
    text-align: center;
}

#docs a
{
    color: #ef4339;
    text-decoration: underline;
}

.img-grid ul
{
    margin: auto;
    max-width: 1024px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none;
}

.img-grid li
{
    width: 256px;
    height: 140px;
    text-align: center;
    padding: 0.5em;
}

.img-grid img
{
    border: 1px solid #c72c41;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: all 0.1s;
}

.img-grid li:hover img
{
    border: 1px solid #ee4540;
}

.music-container
{
    text-align: center;
}

.music-container audio
{
    width: 50%;
    border-radius: 5px;
}

/* SIDE IMAGES */

#story::before,
#story::after,
#gameplay::after
{
    content: '';
    position: absolute;
    width: 75px;
    height: 184px;
}

#story::before
{
    top: 25%;
    left: -15%;
    transform: rotate(15deg);
    background: url('../img/avatars/spazon.png');
}

#story::after
{
    bottom: 5%;
    right: -15%;
    transform: rotate(5deg) scaleX(-1);
    background: url('../img/avatars/theus.png');
}

#gameplay::after
{
    bottom: 0%;
    left: -5%;
    background: url('../img/avatars/cyberpunk.png');
}

/* MEDIA QUERIES */
@media screen and (max-width: 1500px)
{
    #story::before,
    #story::after,
    #gameplay::before
    {
        display: none;
    }
}

@media screen and (max-width: 600px)
{
    #whatis
    {
        padding: 0;
        flex-direction: column;
    }

    #whatis .left
    {
        max-width: 95%;
        margin: 0 auto 2em auto;
    }

    section p
    {
        width: 95%;
    }

    #docs
    {
        width: 80%;
        margin: auto;
    }
}